<md-toolbar color="primary">
  <span>
    {{ title }}
    <a md-button routerLink="/list">My Tests</a>
    <a md-button routerLink="/test">New Test</a>
  </span>
  <span class="spaces">
    <a md-button href="https://github.com/isacab/test-firebase-notifications">GitHub</a>
  </span>
</md-toolbar>
<div class="content">
  <div *ngIf="isLoaded && !error">
    <section>
        <toggle-push></toggle-push>
    </section>
    <section>
      <router-outlet></router-outlet>
    </section>
  </div>
  <div *ngIf="error">{{ error }}</div>
</div>
