
<h2>Received notifications
  <span *ngIf="test.id">
    ({{ test.notifications?.length || 0 }}/{{ test.totalNumNotifications() || 0 }})
  </span>
</h2>
<table class="received-table mdl-data-table">
  <thead>
    <tr>
      <th>Seq number</th>
      <th>Sent (epoch time)</th>
      <th>Latency (ms)</th>
      <th>Received (epoch time)</th>
      <th>App server RTT (ms)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let notification of test.notifications; trackBy: trackNotification">
      <td>{{notification.sequenceNumber}}</td>
      <td class="mdl-data-table__cell--non-numeric">{{notification.sent}}</td>
      <td>{{notification.received - notification.sent}}</td>
      <td class="mdl-data-table__cell--non-numeric">{{notification.received}}</td>
      <td>{{notification.clientToServerRTT}}</td>
    </tr>
  </tbody>
</table>