<form #testPushForm="ngForm" (ngSubmit)="submit()" *ngIf="model">
      <md-input-container class="full-width">
            <input mdInput 
            type="text" 
            placeholder="Name" 
            name="name" 
            [(ngModel)]="model.name"
            [disabled]="model.createdAt"
            required>
            <md-hint *ngIf="formErrors.name">
                  {{ formErrors.name }}
            </md-hint>
      </md-input-container>
      <md-input-container class="full-width">
            <input mdInput 
            type="number" 
            placeholder="Num notifications per interval" 
            name="numNotificationsPerInterval" 
            [(ngModel)]="model.numNotificationsPerInterval"
            max="100"
            min="1" 
            [disabled]="model.createdAt"
            required>
            <md-hint *ngIf="formErrors.numNotificationsPerInterval">
                  {{ formErrors.numNotificationsPerInterval }}
            </md-hint>
      </md-input-container>
      <md-input-container class="full-width">
            <input mdInput 
            type="number" 
            placeholder="Num intervals" 
            name="numIntervals"
            [(ngModel)]="model.numIntervals"
            max="100"
            min="1" 
            [disabled]="model.createdAt"
            required>
            <md-hint *ngIf="formErrors.numIntervals">
                  {{ formErrors.numIntervals }}
            </md-hint>
      </md-input-container>
      <md-input-container class="full-width">
            <input mdInput 
            type="number" 
            placeholder="Interval" 
            name="interval"
            [(ngModel)]="model.interval"
            max="3600000"
            min="0" 
            [disabled]="model.createdAt"
            required>
            <md-hint *ngIf="formErrors.interval">
                  {{ formErrors.interval }}
            </md-hint>
      </md-input-container>
      <div>
            <button md-raised-button 
                  color="primary" 
                  type="submit"
                  name="submit"
                  [disabled]="isSubmitting || !testPushForm?.valid || model?.running">
                  <md-spinner class="buttonSpinner" *ngIf="isSubmitting"></md-spinner>
                  Start test
            </button>
      </div>
      <div class="formError">{{ formErrors.submit }}</div>
</form>