<h2>My Tests</h2>
<div class="scroll-x" *ngIf="testList?.length">
  <table class="received-table mdl-data-table">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Name</th>
          <th>Notifications Per Interval</th>
          <th>Num Intervals</th>
          <th>Interval (ms)</th>
          <th class="mdl-data-table__cell--non-numeric">Running</th>
          <th class="mdl-data-table__cell--non-numeric">Created</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let test of testList">
          <td class="mdl-data-table__cell--non-numeric">
            <a routerLink="/test/{{test.id}}">{{test.name}}</a>
          </td>
          <td>{{test.numNotificationsPerInterval}}</td>
          <td>{{test.numIntervals}}</td>
          <td>{{test.interval}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{test.running}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{test.createdAt | date: 'yyyy-MM-dd HH:mm'}}</td>
        </tr>
      </tbody>
  </table>
</div>
<div *ngIf="!testList?.length">
  There is no tests to show
</div>