<div *ngIf="isLoaded && !error">
    <section>
        <toggle-push></toggle-push>
    </section>
    <section *ngIf="isEnabled">
        <test-push-form *ngIf="!currentTest"
            (start)="setTest($event)">
        </test-push-form>
        <div *ngIf="currentTest">
            <stop-button
                [test]="currentTest">
            </stop-button>
            <test-push-data 
                [test]="currentTest">
            </test-push-data>
        </div>
    </section>
</div>
<div class="error">
    {{ error }}
</div>