/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

md-card {
  max-width: 400px;
  margin: 10px;
}

md-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

section {
    padding: 10px;
}

md-spinner.buttonSpinner {
  float: right; 
  width: 24px; 
  height: 24px; 
  margin: 5px 0px 5px 10px;
}

div.content {
    /*max-width: 512px;*/
    margin: auto;
}